{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<section class="home">
    <div class="aboutMe">
        <h2>Hello! I'm Alexandre Grué, FullStack Web <span>Développeur</span></h2>
        <p>Passionate about development, I like to learn new things and apply my knowledge to meet new challenges</p>
    </div>
    <img src="{{ asset('build/images/avatar.png') }}" alt="">
</section>
{% endblock %}
