.project {
    margin-bottom: 8rem;

    .project-container {
        flex-direction: row;
        width: 90%;
        max-width: 55rem;
        margin: 0 auto;
        margin-top: 3rem;
        border: 3px solid #AFAFAF;
        border-radius: 32px;

        .container {
            h2, h3, p {
                text-align: center;
            }
            h2 {
                
                font-size: 1.5rem;
                font-weight: bold;
            }
            .description {
                margin: auto;
                width: 90%;
                h4 {
                    font-size: 1.2rem;
                    font-weight: bold;
                }

                p {
                    text-align: justify;
                }
                img {
                    width: 2rem;
                    margin-bottom: 2rem;
                };
            }
            

            .macbook {
                margin: 0 auto;
                background-image: url('/assets/images/imac.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                height: 31rem;
                overflow: auto;

                .project-images {
                    height: 23.75rem;
                    width: 37.75rem;
                    margin-top: 3rem;
                    display: flex;
                    overflow: auto;
                    margin-left: 8.938rem;
                    overflow: hidden;

                }

                img {
                    object-fit: fill;
                    width: 100%;
                    animation-duration: 15s;
                    animation-name: slide;
                    animation-iteration-count: infinite;

                    @keyframes slide {
                        0% {
                            transform: translateX(0);
                        }

                        25% {
                            transform: translateX(-604px);
                        }

                        50% {
                            transform: translateX(-1208px);
                        }

                        75% {
                            transform: translateX(-604px);
                        }

                        100% {
                            transform: translateX(0px);
                        }
                    }

                }


            }
        }


    }
}

